.page2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: inherit;
  height: 100vh;
  padding: 2%;
}

.header {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 5%;
  font-size: 20px;
  font-family: Roboto;
  color: rgb(212, 179, 102)
}

.manequin {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 65%;
}

.manequin label {
  display: inline-block;
  border: 0;
  padding: 0;
  width: inherit;
}

.manequin .head img {
  width: 50%;
}

.manequin .hands {
  z-index: 0;
  position: absolute;
  top: 26%;
  width: 140%;
}

.manequin .hands img {
  width: 100%;
}

.manequin .body img {
  width: inherit;
}

.manequin .legs img {
  width: inherit;
}

.nextButton {
  align-items: center;
  margin-top: auto;
}